@model IEnumerable<DATS.ConfigView>
@using DATS;

@{
    ViewBag.Title = "Конфигурация";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<script src="~/Scripts/Custom/ConfigAjaxSave.js"></script>

<div class="btn-group" style="margin: 0 0 10px">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        @ViewBag.Stadium.Name <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var sv in ViewBag.Stadiumes)
        {
            <li><a href="/ConfigSetting/Index?sid=@sv.Id">@sv.Name</a></li>
        }

    </ul>
    <button class="btn btn-primary" id="iksar" style="margin: 0 0 0 10px">Сохранить</button>
</div>


@using (Html.BeginForm("Save", "ConfigSetting", FormMethod.Post, new { Id = "FormForSave" }))
{
    @Html.ValidationSummary(true)
        
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
    <th style="display: none;"></th>
    <th>
        Название параметра
    </th>
    <th>
        Значение
    </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none;">
                    @Html.TextBoxFor(modelItem => item.StadiumId, new { @class = "hidden", @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.RemoveReservationPeriod)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.RemoveReservationPeriod, new { @class = "form-control iksar" })
                </td>
            </tr>
        }
    </tbody>
</table>

    
}