@model DATS.Match
@using DATS;

@{
    ViewBag.Title = "Справочник мероприятий: Создание";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
    Culture = "ru-RU";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
        Создание мероприятия
    </h4>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<div class="modal-body">
    <fieldset>
        <h2 style="color: green;">
            @((string)@ViewBag.Stadium.Name)
        </h2>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeginsAt)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BeginsAt, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BeginsAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Duration, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        @Html.HiddenFor(model => model.StadiumId)
    </fieldset>
</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть
                </button>
                <input type="submit" class="btn btn-success" value="Сохранить" />
            </div>

}




