@model DATS.Match

@{
    ViewBag.Title = "Справочник мероприятий: Удаление";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}

<h2>Справочник мероприятий: Удаление</h2>

<h3>Вы действительно хотите удалить это мероприятие?</h3>
<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StadiumId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StadiumId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BeginsAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeginsAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Обратно к списку", "Index")
    </p>
}
