@model DATS.Match

@{
    ViewBag.Title = "Справочник мероприятий: Редактирование";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
    Culture = "ru-RU";
}

<h2>Справочник мероприятий: Редактирование</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StadiumId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(
    model => model.StadiumId,
(IEnumerable<SelectListItem>)ViewBag.Stadiumes,
    "-- пожалуйста выберите стадион --"
)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeginsAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BeginsAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Обратно к списку", "Index")
</div>


