@model IEnumerable<DATS.Match>
@using DATS;

@{
    ViewBag.Title = "Справочник мероприятий: Список";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}

<div class="btn-group" style="margin: 0 0 10px">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        @((string)@ViewBag.Stadium.Name) <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var sv in ViewBag.Stadiumes)
        {
            <li><a href="/Settings/Matches?sid=@sv.Id">@sv.Name</a></li>
        }

    </ul>
    <button data-toggle="modal" data-target="#myModal" href="/MatchSetting/Create/@((int)@ViewBag.Stadium.Id)" 
        class="btn btn-success" style="margin: 0 0 0 10px" title="Создание нового мероприятия">Добавить мероприятие</button>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginsAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginsAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <button data-toggle="modal" data-target="#myModal" href="/MatchSetting/Edit/@item.Id" 
                    class="btn btn-primary glyphicon glyphicon-pencil" title="Редактирование мероприятия"></button>
                <button data-toggle="modal" data-target="#myModal" href="/MatchSetting/Delete/@item.Id" 
                    class="btn btn-primary glyphicon glyphicon-trash" title="Удаление мероприятия"></button>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
