<!DOCTYPE html>
<html>
<head>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/Home/Index">DATS!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Главная</a></li>
      </ul>
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.CurrentStadium.Name <b class="caret"></b></a>
          <ul class="dropdown-menu">
            @foreach(DATS.Stadium stadium in ViewBag.Stadiums)
            {
               <li><a href="/Home/Stadium?sid=@stadium.Id">@stadium.Name</a></li>  
            }
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Мероприятия <b class="caret"></b></a>
          <ul class="dropdown-menu">
            @foreach(DATS.Match match in ViewBag.Matches)
            {
               <li><a href="/Home/Match?mid=@match.Id">@match.Name</a></li>  
            }
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Settings/Index">Настройки</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

@RenderBody()

</body>
</html>
