<!DOCTYPE html>
<html>
<head>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myNotification")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/CustomValidation/ValidationMessages.js"  type="text/javascript"></script>
</head>
<body>

<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/Home/Index"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Главная</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/StadiumSetting/Index">Настройки</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container bs-docs-container">
    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item @((ViewBag.Tab==1)?"active":"")" href="/StadiumSetting/Index"><img class="" src="~/Images/stadium.png" /> Стадионы</a>
                <a class="list-group-item @((ViewBag.Tab==2)?"active":"")" href="/SectorSetting/Index"><img class="" src="~/Images/sector.png" /> Секторы</a>
                <a class="list-group-item @((ViewBag.Tab==3)?"active":"")" href="/MatchSetting/Index"><img class="" src="~/Images/ball.png" /> Мероприятия</a>
                <a class="list-group-item @((ViewBag.Tab==4)?"active":"")" href="/PriceSetting/Index"><img class="" src="~/Images/coins.png" /> Цены</a>
                <a class="list-group-item @((ViewBag.Tab==5)?"active":"")" href="/ConfigSetting/Index"><img class="" src="~/Images/configs.png" /> Конфигурация</a>
            </div>
        </div>

        <div class="col-md-9">
          @if (TempData["message"] != null)
          {
            <div class="alert alert-warning alert-dismissible" role="alert" style="margin: 0 0 10px 0;">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              @TempData["message"]
            </div>
          }
            @RenderBody()
        </div>

    </div>
</div>

<!-- Modal for notifications-->
<div class="modal" id="myModalNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="modal-content">
        </div>
    </div>
</div>

</body>
</html>
