@{
    ViewBag.Title = "Продажа билетов";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eaeaea;
}
</style>

<div>
  <div class="container bs-docs-container">
    <div class="bs-docs-section">
      <h1 class="page-header" style="margin: 0">@ViewBag.CurrentMatch.Name</h1>
      <ul class="list-inline">
        <li><h4>Дата проведения: @ViewBag.CurrentMatch.BeginsAt</h4></li>
        <li><h4>Продолжительность: @ViewBag.CurrentMatch.Duration минут.</h4></li>
      </ul>
    </div>

    <div class="row">

      <div class="col-md-7">
       <img class="img-responsive" src="@ViewBag.CurrentStadium.SchemePath" runat="server"/>
      </div>

      <div class="col-md-5">
        <div class="text-center"><b>Состояние билетов в секторах</b></div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-center active" title="Название сектора на текущем стадионе">Сектор</td>
              <td class="text-center alert-warning" title="Общее количество мест в секторе">Всего</td>
              <td class="text-center alert-danger" title="Количество проданных мест в секторе">Куплено</td>
              <td class="text-center alert-info" title="Количество забронированных мест в секторе">Бронь</td>
              <td class="text-center alert-success" title="Количество свободных для продажи мест в секторе">Свободно</td>
            </tr>
          </thead>
          <tbody>
          @foreach (DATS.SectorView sv in ViewBag.SectorsInfo)
          {
            <tr onclick="window.document.location='/Sector/Edit?sid=@sv.SectorId&mid=@ViewBag.CurrentMatch.Id'" style="cursor:pointer" >
              <td class="text-center"><a href="~/Sector/Edit?sid=@sv.SectorId&mid=@ViewBag.CurrentMatch.Id">@sv.Name</a></td>
              <td class="text-center"><span class="@((sv.TotalPlaces != 0) ? "badge alert-warning" : "")">@sv.TotalPlaces</span></td>
              <td class="text-center"><span class="@((sv.SoldPlaces != 0) ? "badge alert-danger" : "")">@sv.SoldPlaces</span></td>
              <td class="text-center"><span class="@((sv.ReservedPlaces != 0) ? "badge alert-info" : "")">@sv.ReservedPlaces</span></td>
              <td class="text-center"><span class="@((sv.FreePlaces != 0) ? "badge alert-success" : "")">@sv.FreePlaces</span></td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
