@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
  <div class="container bs-docs-container">
    <div class="bs-docs-section">
      <h1 class="page-header" style="margin: 0">@ViewBag.CurrentMatch.Name</h1>
      <ul class="list-inline">
        <li><h4>Дата проведения: @ViewBag.CurrentMatch.BeginsAt</h4></li>
        <li><h4>Продолжительность: @ViewBag.CurrentMatch.Duration минут.</h4></li>
      </ul>
    </div>

    <div class="row">

      <div class="col-md-7">
       <img class="img-responsive" src="@ViewBag.CurrentStadium.SchemePath" />
      </div>

      <div class="col-md-5">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-center active">Сектор</td>
              <td class="text-center warning">Всего</td>
              <td class="text-center danger">Куплено</td>
              <td class="text-center info">Бронь</td>
              <td class="text-center success">Свободно</td>
            </tr>
          </thead>
          <tbody>
          @foreach (DATS.SectorView sv in ViewBag.SectorsInfo)
          {
            <tr onclick="window.document.location='/Sector/Edit?sid=@sv.SectorId&mid=@ViewBag.CurrentMatch.Id';">
              <td class="text-center active">@sv.Name</td>
              <td class="text-center warning">@sv.TotalPlaces</td>
              <td class="text-center danger">@sv.SoldPlaces</td>
              <td class="text-center info">@sv.ReservedPlaces</td>
              <td class="text-center success">@sv.FreePlaces</td>
            </tr>
          }
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
