@model DATS.ClientView

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h4 class="modal-title" id="myModalLabel">
        Бронирование</h4>
</div>

<script src="~/Scripts/CustomValidation/ValidationMessages.js"  type="text/javascript"></script>
<script src="~/Scripts/CustomValidation/ClientValidation.js"  type="text/javascript"></script>

<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Data)
    @Html.HiddenFor(model => model.MatchId)
    @Html.HiddenFor(model => model.SectorId)

    <div class="modal-body">
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autocomplete="off" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Contact)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Закрыть</button>
        <input type="submit" class="btn btn-primary" value="Забронировать" />
    </div>

}
