@model IEnumerable<DATS.Sector>

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewBag.Title = "Справочник секторов";
}

<script src="~/Scripts/Custom/SectorCopy.js"></script>

<div class="btn-group" style="margin: 0 0 10px">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        @ViewBag.Stadium.Name <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var sv in ViewBag.Stadiumes)
        {
            <li><a href="/SectorSetting/Index?sid=@sv.Id">@sv.Name</a></li>
        }

    </ul>
    <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Create/@ViewBag.Stadium.Id" 
		class="btn btn-success" style="margin: 0 0 0 10px"        
		title="Создание нового сектора в выбранном стадионе">Добавить сектор</button>
</div>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Возможные действия
        </th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="/Sector/Configure?sid=@item.Id" class="btn btn-sm btn-primary" title="Редактирование мест в секторе">
                    <span class="glyphicon glyphicon-th"></span> Места
                </a>
                <button data-toggle="modal" data-target="#myModal" onClick="copyBtn(@item.Id);"
                    class="btn btn-primary glyphicon glyphicon-plus" title="Создание копии сектора">
                    </button>
                     
                <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Edit/@item.Id" 
                    class="btn btn-primary glyphicon glyphicon-pencil" title="Редактирование сектора"></button>
                <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Delete/@item.Id" 
                    class="btn btn-primary glyphicon glyphicon-trash" title="Удаление сектора"></button>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
