@model IEnumerable<DATS.PriceView>
@using DATS;

@{
    ViewBag.Title = "Справочник цен";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<script src="~/Scripts/Custom/PriceAjaxSave.js"></script>

<div style="margin: 0 0 10px">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            @ViewBag.Stadium.Name <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @foreach (var sv in ViewBag.Stadiumes)
            {
                <li><a href="/PriceSetting/Index?sid=@sv.Id">@sv.Name</a></li>
            }

        </ul>
    </div>
    <div class="btn-group" style="margin: 0 0 0 5px">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            @ViewBag.Match.Name <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @foreach (var mv in ViewBag.Matchess)
            {
                <li><a href="/PriceSetting/Index?sid=@ViewBag.Stadium.Id&&mid=@mv.Id">@mv.Name</a></li>
            }

        </ul>
        <button class="btn btn-primary" id="iksar" style="margin: 0 0 0 10px">Сохранить</button>
    </div>
</div>

@using (Html.BeginForm("Save", "PriceSetting", FormMethod.Post, new { Id = "FormForSave" }))
{
    @Html.ValidationSummary(true)
    
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="display: none;">
                </th>
                <th style="display: none;">
                </th>
                <th style="display: none;">
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceValue)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="display: none;">
                        @Html.TextBoxFor(modelItem => item.StadiumId, new { @class = "hidden", @readonly = "readonly" })
                    </td>
                    <td style="display: none;">
                        @Html.TextBoxFor(modelItem => item.MatchId, new { @class = "hidden", @readonly = "readonly" })
                    </td>
                    <td style="display: none;">
                        @Html.TextBoxFor(modelItem => item.SectorId, new { @class = "hidden", @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.PriceValue, new { @class = "form-control iksar" })
                    </td>
                </tr>
            }

        </tbody>
</table>
</div>
    
}




