@model DATS.SellingView

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h4 class="modal-title" id="myModalLabel2">
        Подтвердите @((ViewBag.State == 1)?"ПРОДАЖУ":"ВОЗВРАТ") билетов</h4>
</div>

@using (Html.BeginForm())
{
<div class="modal-body">
    <fieldset>
        @Html.HiddenFor(model => model.Data)
        @Html.HiddenFor(model => model.SectorId)
        @Html.HiddenFor(model => model.MatchId)

    <table class="table table-striped table-bordered table-hover">

          <tbody>
            <tr>
              <td>@Html.LabelFor(model => model.StadiumName)</td>
              <td>@Html.DisplayFor(model => model.StadiumName)</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.MatchName)</td>
              <td>@Html.DisplayFor(model => model.MatchName)</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.SectorName)</td>
              <td>@Html.DisplayFor(model => model.SectorName)</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.PlacesList)</td>
              <td>@Html.Raw(Html.Encode(Model.PlacesList).Replace("\n", "<br />"))</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.Count)</td>
              <td>@Html.DisplayFor(model => model.Count)</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.Price)</td>
              <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
              <td>@Html.LabelFor(model => model.Summ)</td>
              <td>@Html.DisplayFor(model => model.Summ)</td>
            </tr>
            <tr>
              <td><label>Операция</label></td>
              <td>@((ViewBag.State == 1) ? "Продажа" : "Возврат")</td>
            </tr>
          </tbody>
        </table>
    </fieldset>
</div>

<div class="modal-footer">
<div class="list-inline">
    <li><input type="submit" class="btn btn-@((ViewBag.State == 1)?"success":"danger")" value="Выполнить операцию" /></li>
    <li><button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></li>
</div>

</div>
}

