@{
    ViewBag.Title = "Продажа билетов";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Scripts.Render("~/bundles/jsEdit")

<script>
    var currPrice = @ViewBag.CurrentPrice;
    $().ready(function () {
        init();
    });
</script>

  <div class="container-fluid">
    <div class="bs-docs-section">
      <h1 class="page-header" style="margin: 0">Продажа билетов в секторе "@ViewBag.CurrentSector.Name"</h1>
      <ul class="list-inline">
        <li><h4>Стадион: @ViewBag.CurrentStadium.Name,</h4></li>
        <li><h4>@ViewBag.CurrentMatch.Name,</h4></li>
        <li><h4>@ViewBag.CurrentMatch.BeginsAt</h4></li>
      </ul>
    </div>

    <div class="row">

      <div id="canvasParent" class="col-md-10" style="height: 80vh">
       <canvas id="canvas">Ваш браузер не поддерживается!</canvas>
      </div>

      <div class="col-md-2">
        <p><button id="clearSelection" class="btn glyphicon glyphicon-refresh" title="Обновить"></button>
           <button id="btnScalePlus"   class="btn glyphicon glyphicon-zoom-in" title="Увеличить масштаб"></button>
           <button id="btnScaleMinus"  class="btn glyphicon glyphicon-zoom-out" title="Уменьшить масштаб"></button>
           <button id="btnScaleFit"    class="btn glyphicon glyphicon-resize-full" title="Оптимальный масштаб"></button></p>
        <p><button id="btnSell"        class="btn btn-success btn-lg btn-block" title="Продать выделенные билеты">Продать</button></p>
        <p><button id="btnReturn"      class="btn btn-danger  btn-lg btn-block" title="Выполнить возврат выделенных билетов">Возврат</button></p>
        <p><button id="btnReserve"     class="btn btn-primary btn-lg btn-block" title="Забронировать выделенные места">Забронировать</button></p>
          
          <table class="table table-stripped table-hover">
              <thead>
                  <td></td><td></td>
              </thead>
              <tbody>
                  <tr>
                      <td>Всего билетов:</td>
                      <td><label id="lblCountAll"></label></td>
                  </tr>
                  <tr>
                      <td>В наличии:</td>
                      <td><label id="lblCountFree"></label></td>
                  </tr>
                  <tr>
                      <td>Продано:</td>
                      <td><label id="lblCountSold"></label></td>
                  </tr>
                  <tr>
                      <td>Забронировано:</td>
                      <td><label id="lblCountReserved"></label></td>
                  </tr>
                  <tr>
                      <td>Цена билета:</td>
                      <td><label id="lblPrice"></label></td>
                  </tr>
                  <tr>
                      <td>Выбрано мест:</td>
                      <td><label id="lblCountSelected"></label></td>
                  </tr>
                  <tr>
                      <td>На сумму:</td>
                      <td><label id="lblTotalSumm"></label></td>
                  </tr>
              </tbody>
          </table>

      </div>

    </div>
  </div>


  <!-- Modal-->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
