@model DATS.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Вход в систему DATS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>

    <body>
        <div style="width: 50%; border: 4px double #808080; margin: 10% 0 0 25%; background: #f0f0f0; ">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel" style="color: #808080; text-align: center; font-style: italic;">
                    Вход в систему DATS
                </h2>
            </div>


            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div class="modal-body">
                    <fieldset>

                        <div class="editor-label" style="color: #808080;">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>

                        <div class="editor-label" style="color: #808080;">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                    </fieldset>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" style="background: #808080;" value="Применить" />
                </div>

            }
        </div>
       

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter25679033 = new Ya.Metrika({ id: 25679033,
                            clickmap: true,
                            accurateTrackBounce: true,
                            trackHash: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/25679033" style="position: absolute; left: -9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    </body>
</html>
